<header>
  <ul id='slide-out' class="side-nav fixed">
    <a href="#" class='cohort-number'>1701<a>
    <a href="#" class='cohort-number'>1703<a>
    <a href="#" class='cohort-number'>1705<a>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
</header>

<main>
  <div class="container analytics">
    <div class="row charts">
      <div class="backend-enrolled col s6 center">

      </div>
      <div class="frontend-enrolled col s6 center">

      </div>
    </div>
  </div>
</main>
