<header>
  <ul id='slide-out' class="side-nav fixed">
    <a href="" class='cohort-number'>1701<a>
    <a href="" class='cohort-number'>1703<a>
    <a href="" class='cohort-number'>1705<a>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
</header>

<div class="container">
  <div class="row">
    <div class="backend-enrolled">
      <p>21/28 enrolled</p>
    </div>
    <div class="frontend-enrolled">
      <p>14/28 enrolled</p>
    </div>
  </div>
</div>
